<h1>Listing Branches</h1>

<%= link_to 'New Branch', new_branch_path %> 
 
<table class="gridtable">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Address</th>
  </tr>
 
  <% @branches.each do |branch| %>
    <tr>
      <td><%= branch.name %></td>
      <td><%= branch.city %></td>
      <td><%= branch.state %></td>
      <td><%= branch.address %></td>
	  <td><%= link_to 'Show', branch_path(branch) %></td>
	  <td><%= link_to 'Edit', edit_branch_path(branch) %></td>
	  <td><%= link_to 'Destroy', branch_path(branch),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>