<h1>Stock Listing</h1>

<table class="gridtable">
  <tr>
    <th>Currency Name</th>
    <th>Branch Name</th>
    <th>Opening Balance</th>
    <th>Closing Balance</th>
  </tr>
 
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.currency.currencyname %></td>
      <td><%= stock.branch.name %></td>
	  
	  <td><%= stock.openingbalance %></td>
      <td><%= stock.currentbalance %></td>
   
	  <td><%= link_to 'Show', stock_path(stock) %></td>
	  <td><%= link_to 'Edit', edit_stock_path(stock) %></td>
	  <td><%= link_to 'Destroy', stock_path(stock),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Stock', new_stock_path %> 