<h1> New Stock </h1>
<%= form_for :stock, url: stocks_path do |s| %>

<% if @stock.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@stock.errors.count, "error") %> prohibited
      this stock from being saved:</h2>
    <ul>
    <% @stock.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
	<%= s.label :'Currency Name'%><br>
	<%= collection_select(:stock, :currency_id, Currency.all, :id, :currencyname, prompt: true) %>
  </p>
  
  <p>
	<%= s.label :'Branch Name'%><br>
	<%= collection_select(:stock, :branch_id, Branch.all, :id, :name, prompt: true) %>
  </p>
 
 <p>
	<%= s.label :'Opening Balance'%><br>
	<%= s.text_field :openingbalance %>
  </p>
  
 <p>
    <%= s.submit %>
  </p>
<% end %>

<%= link_to 'Back', stocks_path %>